:root {
	--zIndex2: #bebebe;
	--zIndex3: #696969;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h2,
h3,
p {
	margin: 0;
}

body {
	background-color: #eee;
}

/* --- MAIN CONTAINER --- */
#content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

nav {
	align-self: center;
}
nav > ul {
	width: min(100%, 40rem);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 1rem;
	margin: 0;
	padding: 1rem;
}
nav li {
	list-style: none;
	padding: 1rem 0;
	width: min(20vw, 10rem);
	text-align: center;
	background-color: var(--zIndex2);
}
nav li.active {
	background-color: var(--zIndex3);
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--zIndex2);
}

header.home {
	height: clamp(10rem, 40vw, 20rem);
	justify-content: flex-end;
}
header.home > .logo {
	margin-bottom: 1rem;
}

.card-container {
	align-self: center;
	display: flex;
	gap: 1rem;
}

/* --- HOME PAGE CARD --- */
.card-container.home {
	width: min(100%, 60rem);
	justify-content: space-between;
	padding: 0 2rem;
}
.card-container.home > .card {
	width: min(30vw, 16rem);
	display: flex;
	margin: 0;
	background-color: var(--zIndex2);
}
.card-container.home .quote {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	margin: 0;
	padding: 2rem;
	background-color: var(--zIndex2);
}

/* --- MENU PAGE CARD --- */
.card-container.menu {
	flex-direction: column;
	gap: 4rem;
	width: min(100%, 60rem);
}
.card-container.menu > section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 2rem;
}
.card-container.menu .card {
	width: min(100%, 40rem);
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1rem;
	padding: 1rem;
	background-color: var(--zIndex2);
}
.card-container.menu h3,
.card-container.menu span {
	grid-column: 1 / 2;
}
.card-container.menu img {
	grid-column: 2 / 3;
	grid-row: 1 / span 2;
	width: 100%;
	height: 10rem;
	background-color: var(--zIndex3);
}

/* --- CONTACT PAGE CARD --- */
.card-container.contact {
	flex-direction: column;
}
.card-container.contact > .card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, auto);
	gap: 0.5rem 2rem;
	padding: 1rem;
	background-color: var(--zIndex2);
}
.card-container.contact h2 {
	margin: 0;
}
.card-container.contact span {
	grid-column: 1 / 2;
}
.card-container.contact img {
	grid-column: 2 / 3;
	grid-row: 1 / -1;
	background-color: var(--zIndex3);
}

/* --- HOMEPAGE CTA BUTTON --- */
button.home.cta {
	align-self: center;
	padding: 1rem 3rem;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}
